.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 13px; 
    justify-content: space-between;
    margin: 30px 0 0 5px;
  }
  
  .card {
    flex: 0 0 calc(20% - 10px); 
    width: 100px;
    height: 350px;
    border: 1px solid black;
    background-color: rgb(43, 43, 43);
    border-radius: 60px 10px;
    position: relative;
    border: solid #71a3ff 1px;
    margin: 30px 20px 10px 20px
  }
  
  .card img {
    width: 100%; 
    height: 180px;
    object-fit: contain; 
    margin-top: 15px;
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex: 0 0 calc(100% - 10px);
    }
  }

  h2 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0 10px 30px;
    color: #fcebeb;
  }
  
  p {
    padding: 10px;
    color: #fafaef;
    text-align: justify;
  }

  .boton {
    background-color: #71a3ff;
    color: #fafaef;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 2px 15px;
    display: flex;
    position: absolute;
    bottom: 35px; 
    right: 20px;
    border: solid white 1px;
  }

  .list-conteiner {
    background: white;
  }

  .titulo {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }